[login-container] {
  height: 100%;
  position: absolute;
  background: url("../assets/images/login_bg.png") center center;
  background-size: cover;
  overflow: auto;
  [login-panel] {
    background-color: transparent;
    min-width: 370px;
    max-width: 450px;
    flex: 80;
    height: 90%;
    max-height: 780px;
    font-family: sans-serif;
    color: #ffffff;

    [logo-img] {
      width: 50%;
      height: 80%;
      margin-top: 15px;
      background: url(../assets/images/babel.png) no-repeat;
      background-size: 98% 80%;
    }

    [header-section] {
      width: 100%;
      min-height: 80px;
      height: 11%;
      background: rgba(39, 37, 37, .8);

      span {
        color: #ffffff;
      }

    }
    [user-types] {
      color: #d4d4d4;

      *:focus {
        outline: 0;
      }

      [user] {
        font-size: 0.73em;
        font-weight: 700;
      }

      .user-icon {
        width: 95px;
        height: 95px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 8px;
        cursor: pointer;
        border: 2px solid #ffffff;
        background-image: url('../assets/images/sign_up_icons.png');
      }

      [user="student"] {
        [icon] {
          @extend .user-icon;
          background-position: -22px -20px;
        }

        [icon].active {
          background-position: -22px -130px;
        }
      }

      [user="teacher"] {
        [icon] {
          @extend .user-icon;
          background-position: -139px -20px;
        }

        [icon].active {
          background-position: -139px -130px;
        }
      }

    }

    [form-section] {
      background-color: rgba(39, 37, 37, 0.4);
      width: 100%;

      [tagline] {
        font-size: 0.8em;
        opacity: .6;
        color: #ffffff;
        margin: 8px;
      }

      [registration-details] {
        width: 75%;
        margin: 12px;

        [input-feature] {
          padding: 8px;
          margin: 8px;
          width: 86%;
          border-radius: 3px;
          border: 2px white solid;
          outline-color: transparent;
        }

        .input-feature-pwd {
          width: 83% !important;
          margin-left: 1px !important;
        }

      }

      .showPwd {
        background-image: url("../assets/images/eye-open.svg");
        background-size: 30px;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;

      }
      .hidePwd {
        background-image: url("../assets/images/eye-close.svg");
        background-size: 30px;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;

      }

      [forgotPwd-container] {
        height: 20px;
        width: 86%;

        [forgotPwd] {
          font-size: .7em;
          color: #f0f8ff;
          float: right;
        }
      }
      [entity="check_box"] {
        color: #ffffff;
        font-size: 0.8em;
        margin-left: 12px;
        width: 96%;

        a {
          color: #ffffff;
        }
      }

      [registration="container"] {
        width: 124px;
        height: 40px;
        color: #fff;
        border-radius: 3px;
        font-size: .8em;
        margin: 10px;

        [registration="register-button"] {
          background-color: #575652;
          color: rgba(210, 210, 247, 0.58);
        }

        [registration="cancel-button"] {
          background-color: #575652;
          color: rgba(210, 210, 247, 0.58);
        }

        [registration="register-button"].md-button.md-raised:not([disabled]) {
          background-color: #00af9d;
          color: #ffffff;
        }
        [registration="cancel-button"].md-button.md-raised:not([disabled]) {
          background-color: #c24549;
          color: #ffffff;
        }

      }
      [orline] {
        width: 80%;
        opacity: .7;
        hr {
          width: 100%
        }
        [orword] {
          padding: 5px;
        }
      }

      [entity="hasAccount"] {
        color: #ffffff;
        font-size: 0.9em;
        margin: 5px;

        a {
          color: #ffffff;
        }
      }

      [entity="third-party-signIn"] {
        text-transform: capitalize;
        .icons {
          background-size: 20px;

        }

        [third-party="Facebook"] {
          opacity: .6;
          width: 95%;
          text-transform: capitalize;
          background-color: #575652;
          color: rgba(210, 210, 247, 0.58);
          [facebookIcon] {
            @extend .icons;
            background-image: url("../assets/images/fb_icon.svg");

          }
        }
        [third-party="Facebook"].md-button.md-raised:not([disabled]) {
          background-color: #3F51B5;
          color: #ffffff;
          opacity: 1;
        }
        [third-party="Google"] {
          opacity: .6;
          width: 95%;
          text-transform: capitalize;
          background-color: #575652;
          color: rgba(210, 210, 247, 0.58);
          [googleIcon] {
            @extend .icons;
            background-image: url("../assets/images/google_icon.svg");

          }
        }
        [third-party="Google"].md-button.md-raised:not([disabled]) {
          background-color: #D95032;
          color: #ffffff;
          opacity: 1;
        }

      }

    }
  }
}
