<div origin-footer layout="row" layout-align="space-between end">
<div style="padding-left: 10px;">
  <label>Copyright</label>
  <md-icon md-svg-icon="assets/images/copyright_icon.svg" style="width:20px; height: 20px"></md-icon>
    <label> The Origin 2016 | </label>
  <a href="http://stcn-crg-mg127.staticmbx.com/static/magicbox/tresource/footer/privacypolicy.html"
    target="_blank" style="color: white;">Privacy</a>

</div>
<div style="margin-right: 20px;">
  <label>Connect with us</label>
  <md-icon md-svg-icon="assets/images/fb_social.svg" style="width:20px; height: 20px"></md-icon>
  <md-icon md-svg-icon="assets/images/twitter_social.svg" style="width:20px; height: 20px"></md-icon>
  <md-icon md-svg-icon="assets/images/linkedin_social.svg" style="width:20px; height: 20px"></md-icon>
</div>
</div>

