<md-toolbar menu-container layout="row" layout-align="start center">

  <div class="md-toolbar-tools" layout="row" layout-align="space-between start">
    <section origin-container="" layout="row" layout-align="center center" flex="22">
      <div origin-logo=""></div>
      <div origin-text="">
        {{navbarText}}
      </div>
    </section>
    <section search-container layout="row" layout-align="start center" flex="60">
      <md-input-container layout-align="center" class="md-block">
        <div layout="row" layout-align="start-center">
          <div>
        <input search-bar ng-model="search.$current">
        </div>
        <div>
        <md-icon md-svg-icon="assets/images/search_icon.svg" style="width: 20px; height: 20px; margin-top: 30px"></md-icon>
        </div>
          </div>
      </md-input-container>
    </section>
    <section login-panel="" flex="15" layout="row" layout-align="center center">
      <md-button ui-sref="signUp" JoinFree>Join Free</md-button>
      <md-button ui-sref="signIn" Login>Login</md-button>
    </section>
  </div>

</md-toolbar>
