.backgroundColor {
  background-color: rgb(243, 243, 243);
}

[dialogBox] {
  @extend .backgroundColor;

  [forgot-password] {
    font-size: .6em;
    a {
      color: #263082;
    }
  }
  md-toolbar {
    @extend .backgroundColor;

  }
  md-dialog .md-dialog-content {
    padding: 10px;
  }
  [third-party] {
    text-transform: capitalize;
    height: 25px;
  }

  .Icons {
    background-size: 20px;
  }
  [removeIcon] {
    @extend .Icons;
    background-image: url("../assets/images/remove_icon.svg");
  }
  [facebookIcon] {
    @extend .Icons;
    background-image: url("../assets/images/fb_icon.svg");
  }
  [userIcon] {
    @extend .Icons;
    background-image: url("../assets/images/user_icon1.svg");
  }
  [passwordIcon] {
    @extend .Icons;
    background-image: url("../assets/images/password_icon.svg");


  }
  [underline] {
    text-decoration: underline;
  }
  [loginEnable].md-button.md-raised:not([disabled]) {
    background-color: #00af9d;
  }
}
