[browseMore-container] {
  height: 100%;
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  * {
    text-transform: none;
  }

  [menuBar] {
    margin: 10px;
    margin-left: 20px;
    [library-tag] {
      font-size: 1.6em;
      color: #00af9d;
    }

  }
  [down] {
    background-image: url("../assets/images/arrow_right_icon.svg");
    background-size: 20px;
  }
  [contentNumber] {
    font-size: 15px;
    color: #000000;
    margin-right: 5%;
  }
  [outer] {
    color: #000000;
    height: 100%;

    md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
      color: #000000;
    }
    [sujectData] {
      padding: 10px;
      margin:10px;
      border: 1px solid #CCCCCC;
      box-shadow: 1px 1px 1px 1px #cccccc;
      [content-images] {
        height: 130px;
        width: 100%;
        background-size: contain;
      }
      .subjectInfo {
        font-size: 10px;
        text-transform: capitalize;
      }

      [subjectName] {
        @extend .subjectInfo;
      }
      [subjectType] {
        @extend .subjectInfo;
        font-size: 15px;
        padding-left: 5px;
      }

      [subjectTitle] {
        font-size: 16px;
        font-weight: 600;
      }
      .subjectIcons {
        margin: 0 ;
        background-size: 20px;
      }
      [dataOutline] {
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        padding: 4px;
      }

      .epub {
        @extend .subjectIcons;
        background-image: url("../assets/images/epub_icon.svg");
      }
      .audio {
        @extend .subjectIcons;
        background-image: url("../assets/images/audio_icon.svg");
      }
      .video {
        @extend .subjectIcons;
        background-image: url("../assets/images/video_icon.svg");
      }
      .game {
        @extend .subjectIcons;
        background-image: url("../assets/images/game_icon.svg");
      }
      .simulation {
        @extend .subjectIcons;
        background-size: contain;
        background-image: url("../assets/images/simulator_icon.svg");
      }
      .assessment {
        @extend .subjectIcons;
        background-image: url("../assets/images/exam_icon.svg");
      }
      .pdf {
        @extend .subjectIcons;
        background-image: url("../assets/images/pdf_icon.svg");
      }
      .EXT_RESOURCE {
        @extend .subjectIcons;
        background-image: url("../assets/images/ext_resource-icon.svg");
      }
      .ebook {
        @extend .subjectIcons;
        background-image: url("../assets/images/ebook_icon.svg");
      }
    }

  }


}
