<nav-menu nav-text="I want to LEARN / TEACH"></nav-menu>
<div product-container layout="column" layout-fill>
  <aside menuBar>
      <span library ui-sref="library">The ORIGINal Library</span>
      <span product-tag> / Product Details</span>
    </aside>
  <div productBackground layout="column" ng-if="product.showDetails">
    <div headers layout="row">
      <div layout="row">
        <div layout="column" layout-align="start start">
          <div dataTitle>{{product.info.title}}</div>
          <div metaData ng-bind-html="product.info.Content"></div>
          <div stars>
            <span class="starRating">
              <input id="rating5" type="radio">
              <label for="rating5"></label>
              <input id="rating4" type="radio">
              <label for="rating4"></label>
              <input id="rating3" type="radio">
              <label for="rating3"></label>
              <input id="rating2" type="radio">
              <label for="rating2"></label>
              <input id="rating1" type="radio">
              <label for="rating1"></label>
            </span>
          </div>
        </div>
      </div>
      <div flex=""></div>
      <div>
        <!-- will contain share and review detail-->
      </div>
    </div>
    <div otherdata layout-align="space-between start" layout="row">
      <div flex-gt-lg="40" flex-gt="40" flex-md="60" flex="40">
        <div layout="column">
          <md-button addToLibrary flex="" class="md-primary md-raised"
                     ng-if="!product.book.hideAdd"
                     ng-click="product.addProduct()"
                     ng-show="product.showAddToLibrary && !product.book.added">
            <label addTo> ADD TO LIBRARY </label>
          </md-button>
          <md-button addedInLibrary flex="" class="md-primary md-raised"
                     ng-show="product.book.added"
                     ng-disabled="true">
            <label addTo> ADDED IN LIBRARY </label>
          </md-button>
          <p description>{{product.description}}</p>
          <table ng-hide="product.author=='Youtube'">
            <thead>
            <tr>
              <th colspan="2">Product Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="tableHeading">Grades</td>
              <td>{{product.info.Grades}}</td>
            </tr>
            <tr>
              <td class="tableHeading">Publisher</td>
              <td>{{product.info.Publisher}}</td>
            </tr>
            <tr>
              <td class="tableHeading">Resource Types</td>
              <td>{{product.info.Type}}</td>
            </tr>
            </tbody>
          </table>
          <p description> "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
            "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer"
            "took a galley of type and scrambled it to make a type specimen book. "
          </p>
        </div>
      </div>
      <div flex-gt-lg="40" flex-gt="50" flex-md="48" layout="column" flex="50"
           ng-switch on="product.author" style="margin-right: 20px;">
        <div ng-switch-when='Youtube'>
          <iframe width="80%" height="300px" ng-src="{{product.yVideo}}"  allowfullscreen>
          </iframe>
        </div>
        <div ng-switch-default>
          <md-icon addedToLib
                   ng-show="product.book.added"></md-icon>
          <div class="contentContainer" ng-style="{'background-image':'url({{product.info.Image}})'}">
          <md-button enlargerBackground aria-label="Product View"
                     ng-click="showEnlargedImage = !showEnlargedImage">
            <md-icon zoomIcon md-svg-icon="assets/images/fullscreen.svg"></md-icon>
          </md-button>
          </div>
          <div enlargeBG  ng-show="showEnlargedImage" ng-click="showEnlargedImage = !showEnlargedImage">
          <x-image-enlarge class="imageEnlarge"
                            ng-style="{'background-image':'url({{product.info.Image}})'}">
          </x-image-enlarge>
          </div>
        </div>
      </div>
     </div>
  </div>
  <div someMoreData layout="column" ng-if="product.likes.length > 0">
    <div layout="row" layout-align="start center">
      <div flex="19" style="font-weight: 600">You might also like</div>
      <div separator flex="80"></div>
    </div>
    <div content-listing layout="row" layout-align="start start" layout-wrap="" flex="100">
      <div content-item flex-sm="90" flex-md="32" flex-lg="28" flex-gt-lg="22"
           layout="column" layout-align="center center"
           ng-click="product.openProduct(item.id)"
           ng-repeat="item in product.likes">
        <div thumbnail-container layout="column" layout-align="center center">
          <div item-info="thumbnail" back-img="{{item.coverImage}}"></div>
        </div>
        <div item-meta="info" layout="column" layout-align="center start">
          <div content-item="title">{{item.title | characters:12}}</div>
          <div content-item="author">{{item.author | characters:15 || "hello"}}</div>
        </div>
        <div content-footer="category">
          <span><md-icon md-svg-icon="{{item.category.icon}}" style="padding-right: 2px;"></md-icon> {{item.category.name}}</span>
        </div>
        <!-- <div content-footer="analytics">
           <span><md-icon md-svg-icon="assets/images/share.svg"></md-icon> {{item.analytics.shares}}</span>
           <span><md-icon md-svg-icon="assets/images/eye.svg"></md-icon> {{item.analytics.views}}</span>
         </div>-->
      </div>
    </div>
  </div>
  <section loader ng-if="!product.showDetails">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </section>
</div>
<footer></footer>
