[product-container] {
  height: 100%;
  color: #ffffff;
  font-size: 20px;
  outline: 0;
  margin-bottom: 50px;

  * {
    text-transform: none;
  }

  [menuBar] {
    margin: 70px 10px 10px 20px;

    [library] {
      font-size: 1.1em;
      font-weight: 600;
      color: #7B7B7B;
      cursor: pointer;
      text-decoration: underline;
    }

    [product-tag] {
      font-size: 1.1em;
      font-weight: 600;
      color: #00cc99;
    }

  }

  [productBackground] {
    background-color: #FFFFFF;
    padding-bottom: 35px;
    width: 100%;
    color: #000000;

    [headers] {
      margin-left: 2%;

      [dataTitle] {
        font-weight: 600;
        font-size: 1.4em;
        color: #333333;
      }

      [metaData] {
        font-size: 0.6em;
        color: #333333;
      }

      [stars] {
        .starRating:not(old) {
          display: inline-block;
          width: 5.5em;
          height: 1.0em;
          overflow: hidden;
          vertical-align: bottom;
        }

        .starRating:not(old) > input {
          margin-right: -100%;
          opacity: 0;
        }

        .starRating:not(old) > label {
          display: block;
          float: right;
          position: relative;
          background-image: url('../assets/images/star_off.svg');
          background-size: contain;
        }

        .starRating:not(old) > label:before {
          content: '';
          display: block;
          width: 1.0em;
          height: 1.0em;
          background-image: url('../assets/images/star_on.svg');
          background-size: contain;
          opacity: 0;
          transition: opacity 0.2s linear;
        }

        .starRating:not(old) > label:hover:before,
        .starRating:not(old) > label:hover ~ label:before,
        .starRating:not(:hover) > :checked ~ label:before {
          opacity: 1;
        }
      }
    }

    [otherdata] {
      margin-left: 2%;

      [description] {
        font-size: 14px;
      }

      table thead {
        font-size: 14px;
        color: #00af9d;
        text-decoration: underline;
        float: left;
      }

      .tableHeading {
        font-size: 14px;
        color: #333333;
        font-weight: 600;
      }

      table tbody tr {
        font-size: 14px;
        color: #333333;
      }
      [addedToLib] {
        background-image: url("../assets/images/library_tag.png");
        width: 80px;
        height: 80px;
        z-index: 55;

        position: absolute;
      }
      .contentContainer {
        margin-right: 30px;
        height: 300px;
        width: 70%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        outline: 0;

        [enlargerBackground] {
          background-color: rgba(0, 0, 0, 0.64);
          position: relative;
          top: 86%;
          left: -8px;
          width: 100%;
          [zoomIcon] {
            background-size: 30px;
            position: relative;
            fill: #fff;
          }
        }

      }

      [enlargeBG] {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10000000;
        background: rgba(0, 0, 0, .7) no-repeat 50% 50%;
        outline: 0;

        .imageEnlarge {
          width: 90%;
          position: absolute;
          left: 0;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          height: 90%;
          margin: 5%;
          cursor: zoom-out;
        }
      }
    }
  }

  [someMoreData] {
    font-size: 20px;
    color: #333333;
    margin: 10px 10px 10px 30px;
    background-color: #ffffff;

    [separator] {
      margin-left: 10px;
      border-bottom: 1px solid #000000;
    }

    [content-listing] {
      width: 100%;
      margin-top: 20px;

      [content-item] {
        width: 180px;
        height: 245px;
        margin-bottom: 27px;
        margin-left: 20px;
        margin-right: 10px;
        border: 1px solid #d8d8d8;
        cursor: pointer;


        .content-item-children {
          border: none;
          margin-top: 2px;
          margin-bottom: 2px;
        }

        [thumbnail-container] {
          width: 160px;
          height: 160px;

          [item-info="thumbnail"] {
            @extend .content-item-children;
            height: 160px;
            width: 180px;
            margin-top: 8px;
          }
        }

        [item-meta="info"] {
          width: 90%;

          margin-bottom: 24px;

          * {margin: 0;}

          [content-item="title"] {
            @extend .content-item-children;
            width: 90%;
            height: auto;
            padding-top: 5px;
            border: none;
            color: rgba(64, 64, 64, 0.54);
            font-size: 1.1em;
            font-weight: 800;
          }

          [content-item="author"] {
            @extend .content-item-children;
            width: 90%;
            height: auto;
            color:#A3A3A3;
            font-size: 0.65em;
          }
        }

        [content-footer="category"] {
          width: 100%;

          padding: 8px;
          font-size: 0.65em;
          font-weight: 700;
          color: #a3a3a3;
          border-top: 1px solid #d8d8d8;
          box-shadow: 0px 2px rgba(102, 102, 102, 0.3);

          span {
            margin-left:0;
          }
        }

        [content-footer="analytics"] {
          width: 100%;

          padding: 8px;
          font-size: 0.8em;
          font-weight: 700;
          color: #a3a3a3;
          border-top: 1px solid #d8d8d8;

          span {
            margin-left: 4px;
          }
        }
      }
    }
  }

}

