.backgroundColor {
  background-color: rgb(243, 243, 243);

}

[dialogBox] {
  @extend .backgroundColor;
  [tagline] {
    color: #000000;
    margin-left: 19%;
    text-transform: capitalize;
  }
  [user-types] {
    color: #d4d4d4;

    *:focus {
      outline: 0;
    }

    [user] {
      font-size: 0.8em;
      font-weight: 700;
    }

    .user-icon {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 8px;
      cursor: pointer;
      width: 200px;
      height: 200px;
      border: 2px solid #ffffff;
      background-image: url('../assets/images/sign_up_icons.png');
    }

    [user="student"] {
      [icon] {
        @extend .user-icon;
        background-position: -10px -10px;
      }

      [icon].active {
        background-position: -10px -110px;
      }
    }

    [user="teacher"] {
      [icon] {
        @extend .user-icon;
        background-position: -115px -10px;
      }

      [icon].active {
        background-position: -115px -110px;
      }
    }
  }

  [login-buttons] {
    border: 2px solid rgba(0, 0, 0, 0.87);
    font-weight: 700;
    background-color: transparent;
    text-transform: capitalize;
  }
  [third-party] {
    text-transform: capitalize;
    height: 25px;
  }
  [underline] {
    text-decoration: underline;
    text-transform: capitalize;
  }
  [facebookIcon] {
    background-size: 20px;
    background-image: url("../assets/images/fb_icon.svg");
  }
  [removeIcon] {
    background-size: 20px;
    background-image: url("../assets/images/remove_icon.svg");
  }

}
