/*
[outerPanel] {
  [library-container] {
    position: absolute;
    font-family: sans-serif;
    background: url("../assets/images/login_background_2x.png") no-repeat;
    background-size: 100% 90%;
    *{
      text-transform: none;
    }
    [library-panel] {
      background-color: transparent;
      font-family: sans-serif;
      color: #DFDDDE;
      height: 35%;

      [origin-logo] {
        height: 100px;
        margin: 17px;
        background: url("../assets/images/babel.png") no-repeat;
        background-size: 80%;
      }

      [store-links] {
        font-size: 1em;
        margin: 20px;
        color: #ffffff;

        .md-button {
          text-transform: none;
        }
      }
    }

    [origin-contents] {
      .md-chips .md-chip-input-container input, .md-chips .md-chip-input-container input:not([type]) {
        color: #ffffff;
      }

      [tag-line] {
        color: #DFDDDE;
        font-size: 1.3em;
      }

      [searchContainer] {
        width: 70%;

      }

      #searches {
        color: #ffffff;
      }

      #searches:focused {
        color: #ffffff;
      }

      .md-raised {
        background-color: transparent;
        padding: 5px;
        font-size: 1.5em;
        font-weight: 700;
        border: 2px solid #fff;
      }

    }

    [underline] {
      text-decoration: underline;
    }

    md-chips .md-chips.md-focused {
      box-shadow: 0 2px rgb(184, 178, 226);
    }

    [downIcon] {
      width: 32px;
      height: 32px;
      background: url("../assets/images/down_Icon.svg") no-repeat;
      outline-color: transparent;
      cursor: pointer;
    }

  }
}


*/
[library-container] {
  position: absolute;

  width: 100%;
  height: 100%;

  background: url("../assets/images/login_background_2x.png") no-repeat center center;
  background-size: cover;

  section[search-screen] {
    [origin-logo] {
      position: absolute;
      width: 253px;
      height: 50px;
      top: 0;

      margin: 15px;

      z-index: 9;

      background-size: contain;
      background: url("../assets/images/rsz_babel.png") no-repeat center center;
    }

    [login-panel] {
      position: absolute;

      top: 0;
      right: 10px;

      z-index: 9;

      margin: 20px;

      [login-component] {
        color: #ffffff;
        text-transform: none;
      }

      [login-component="free"]:hover {
        color: #4BAE4F !important;
      }
    }

    [search-panel] {
      position: absolute;

      width: 100%;
      height: 100%;

      top: 0;

      [origin-contents] {
        width: 80%;

        .md-chips .md-chip-input-container input, .md-chips .md-chip-input-container input:not([type]) {
          color: #ffffff;
        }

        [tag-line] {
          color: #DFDDDE;
          font-size: 1.5em;
          letter-spacing: 2px;

          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          span {
            cursor: pointer;
          }
        }

        [underline] {
          text-decoration: underline;
        }

        [search-container] {
          width: 100%;

        }

        #searches {
          color: #ffffff;
        }

        #searches:focused {
          color: #ffffff;
        }

        .md-raised {
          /*background-color: transparent;*/
          padding: 8px 48px;
          font-size: 1.2em;
          font-weight: 700;
          border: 2px solid #fff;
        }

        md-chips .md-chips.md-focused {
          box-shadow: 0 2px rgb(184, 178, 226);
        }
      }
    }

    [down-icon] {
      position: fixed;
      bottom: 0;

      left: 47%;
      margin: 12px;
    }
  }
}
